id: AppConfig.backgroundPermissionRationale
source_file: background-geolocation-types/src/core/config/AppConfig.ts
signature: 'backgroundPermissionRationale?: PermissionRationale;'
description: |-
  (__Android 11+__) Configures the dialog shown when requesting *Always* location
  permission on Android 11+.

  Android 11 changed location authorization behavior and removed the
  **“Allow all the time”** button from the system permission dialog.
  Instead, apps may present a custom rationale dialog explaining *why* background
  access is required. Selecting the dialog’s `positiveAction` sends the user
  directly to the system **Location Permissions** screen, where they must
  explicitly enable **Allow all the time**.

  This SDK shows that dialog automatically when you have supplied
  {@link AppConfig.backgroundPermissionRationale}.

  ![](https://dl.dropbox.com/s/343nbrzpaavfser/android11-location-authorization-rn.gif?dl=1)

  - Android will show the rationale dialog **only once**. After the user presses
    the `positiveAction`, it will not appear again.
    (Pressing **Cancel** does *not* count.)
  - If the user later resets your app’s Location Permission to **Ask every time**,
    the rationale dialog *may* be presented again.

  ![](https://dl.dropbox.com/s/4fq4erz2lpqz00m/android11-location-permission-rationale-dialog.png?dl=1)
  ![](https://dl.dropbox.com/s/dy65k8b0sgj5cgy/android11-location-authorization-upgrade-settings.png?dl=1)

  @example example-1

  __Template Tags__

  You may embed the following template variables inside {@link PermissionRationale | PermissionRationale} fields, wrapped as **`{tagName}`**:

  | Template Tag                            | Default value        | Description |
  |-----------------------------------------|----------------------|-------------|
  | **`{backgroundPermissionOptionLabel}`** | *Allow all the time* | To track your activity in the background, please enable {backgroundPermissionOptionLabel} location permission. |
  | **`{applicationName}`**                 | Your app name        | From `AndroidManifest.xml` |

  &nbsp;

  **See also**
  - {@link GeoConfig.locationAuthorizationRequest}
  - {@link BackgroundGeolocation.requestPermission}
  - [Location updates in Android 11](https://developer.android.com/about/versions/11/privacy/location)
examples:
  example-1:
    title: Example 1
    code:
      ts: |-
        BackgroundGeolocation.ready({
          geolocation: {
            locationAuthorizationRequest: 'Always'
          },
          app: {
            backgroundPermissionRationale: {
              title: "Allow {applicationName} to access this device's location in the background?",
              message: "To track your activity in the background, please enable {backgroundPermissionOptionLabel} location permission.",
              positiveAction: "Change to {backgroundPermissionOptionLabel}",
              negativeAction: "Cancel"
            }
          }
        });
