id: NotificationConfig.layout
source_file: background-geolocation-types/src/core/config/NotificationConfig.ts
signature: 'layout?: string;'
description: |-
  __Custom Android Notification Layout__

  Specifies the name of your custom Android Layout XML file.

  __ℹ️ See:__
  - **[Android Custom Notification Layout](github:wiki/Android-Custom-Notification-Layout)** for full setup instructions.

  ![](https://dl.dropbox.com/s/whcb6q1gxxdk9t1/android-foreground-notification-transistor.png?dl=1)

  Even if you have no prior Android UI experience, custom layouts are very approachable.
  You will typically add `<TextView />`, `<ImageView />`, and `<Button />` elements.

  **Important:** Your `android:id` values **must be prefixed** with `notification`
  (e.g., `notificationText`, `notificationTitle`).
  The only exception is `applicationName`, which the SDK will populate with your app name.

  __Layout Special Elements__

  When the SDK renders your custom notification, it searches for the following IDs and
  sets their content from the associated data source:

  | Layout element `android:id`   | Data source                                |
  |-------------------------------|---------------------------------------------|
  | `applicationName`             | Application name from AndroidManifest       |
  | `notificationTitle`           | {@link title}            |
  | `notificationText`            | {@link text}             |
  | `notificationSmallIcon`       | {@link smallIcon}        |
  | `notificationLargeIcon`       | {@link largeIcon}        |

  @example example-1

  __Custom `<TextView />` Elements__

  You may define your own custom text fields and populate them using
  {@link strings}.

  @example example-2

  @example example-3

  __Custom `<Button />` Elements__

  Define your own buttons and register click listeners using
  {@link actions}.

  @example example-4

  @example example-5

  __Sample Layout__

  @example example-6

  ![](https://dl.dropbox.com/s/k2l0oaqk86axfgu/android-custom-layout-elements.png?dl=1)

  __Using your custom layout__

  @example example-7
examples:
  example-1:
    title: Example 1
    code:
      ts: |-
        BackgroundGeolocation.ready({
          app: {
            notification: {
              layout: "my_notification_layout",
              title: "The Notification Title",
              text: "The Notification Text",
              smallIcon: "mipmap/my_small_icon",
              largeIcon: "mipmap/my_large_icon"
            }
          }
        });
  example-2:
    title: Example 2
    code:
      xml: |-
        <TextView
          android:id="@+id/myCustomElement"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:text="notificationTitle" />
  example-3:
    title: Example 3
    code:
      ts: |-
        BackgroundGeolocation.ready({
          app: {
            notification: {
              strings: {
                myCustomElement: "My Custom Element Text"
              }
            }
          }
        });
  example-4:
    title: Example 4
    code:
      xml: |-
        <Button
          android:id="@+id/notificationButtonFoo"
          style="@style/Widget.AppCompat.Button.Small"
          android:layout_width="60dp"
          android:layout_height="40dp"
          android:text="Foo" />
  example-5:
    title: Example 5
    code:
      ts: |-
        BackgroundGeolocation.ready({
          app: {
            notification: {
              actions: [
                "notificationButtonFoo",
                "notificationButtonBar"
              ]
            }
          }
        });

        BackgroundGeolocation.onNotificationAction((buttonId) => {
          console.log("[onNotificationAction]", buttonId);
          switch (buttonId) {
            case "notificationButtonFoo":
              break;
            case "notificationButtonBar":
              break;
          }
        });
  example-6:
    title: As a starting point, copy this into your XML file
    code:
      xml: |-
        <?xml version="1.0" encoding="utf-8"?>
        <LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools"
            android:layout_width="match_parent"
            android:layout_height="135dp"
            android:gravity="start"
            android:orientation="vertical"
            android:padding="15dp">

            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginBottom="15dp"
                android:gravity="center"
                android:orientation="horizontal">

                <ImageView
                    android:id="@+id/notificationSmallIcon"
                    android:layout_width="16dp"
                    android:layout_height="16dp"
                    android:tint="@android:color/background_dark"
                    tools:srcCompat="@tools:sample/avatars" />

                <TextView
                    android:id="@+id/applicationName"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:paddingLeft="10dp"
                    android:text="applicationName"
                    android:textAppearance="@style/TextAppearance.Compat.Notification.Title"
                    android:textColor="#888888"
                    android:textSize="12sp" />
            </LinearLayout>

            <TextView
                android:id="@+id/notificationTitle"
                style="@style/TextAppearance.Compat.Notification.Title"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="notificationTitle"
                android:textSize="14sp" />

            <TextView
                android:id="@+id/notificationText"
                style="@style/TextAppearance.Compat.Notification.Line2"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="notificationText"
                android:textSize="14sp" />

            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:gravity="right"
                android:orientation="horizontal">

                <Button
                    android:id="@+id/notificationButtonFoo"
                    style="@style/Widget.AppCompat.Button.Small"
                    android:layout_width="60dp"
                    android:layout_height="40dp"
                    android:text="FooA" />

                <Button
                    android:id="@+id/notificationButtonBar"
                    style="@style/Widget.AppCompat.Button.Small"
                    android:layout_width="60dp"
                    android:layout_height="40dp"
                    android:text="Bar" />
            </LinearLayout>
        </LinearLayout>
  example-7:
    title: Example 7
    code:
      ts: |-
        BackgroundGeolocation.ready({
          app: {
            notification: {
              title: "The title",
              text: "The text",
              layout: "notification_layout",
              actions: [
                "notificationButtonFoo",
                "notificationButtonBar"
              ],
              strings: {
                myCustomTextBox1: "custom TextBox element"
              }
            }
          }
        });

        BackgroundGeolocation.onNotificationAction((buttonId) => {
          console.log("[onNotificationAction]", buttonId);
          switch (buttonId) {
            case "notificationButtonFoo":
              break;
            case "notificationButtonBar":
              break;
          }
        });
