id: PersistenceConfig.locationTemplate
source_file: background-geolocation-types/src/core/config/PersistenceConfig.ts
signature: 'locationTemplate?: string;'
description: |-
  Optional custom template for rendering {@link Location} JSON request data
  in HTTP uploads.

  The {@link locationTemplate} is evaluated using
  Ruby-style ERB tags:

  ```erb
  <%= variable_name %>
  ```

  @example example-1

  __⚠️ Quoting string data__

  The plugin does *not* automatically insert quotes around string values.
  Templates are JSON-encoded **exactly as written**.

  The following will cause a JSON error because `timestamp` is a string
  @example example-2

  This renders invalid JSON:

  ```json
  {"timestamp": 2018-01-01T12:01:01.123Z}
  ```

  @example example-3

  ```json
  {"timestamp": "2018-01-01T12:01:01.123Z"}
  ```

  __Configured {@link PersistenceConfig.extras | extras}__

  If {@link extras} are configured, the key/value pairs are merged directly
  into the rendered location JSON.

  @example example-4

  Produces:

  ```json
  {
    "data": {
      "lat": 23.23232323,
      "lng": 37.37373737,
      "foo": "bar"
    }
  }
  ```

  __Template Tags__

  | Tag                    | Type      | Description |
  |------------------------|-----------|-------------|
  | `latitude`             | `Float`   |             |
  | `longitude`            | `Float`   |             |
  | `speed`                | `Float`   | Meters      |
  | `heading`              | `Float`   | Degrees     |
  | `accuracy`             | `Float`   | Meters      |
  | `altitude`             | `Float`   | Meters      |
  | `altitude_accuracy`    | `Float`   | Meters      |
  | `timestamp`            | `String`  | ISO-8601    |
  | `uuid`                 | `String`  | Unique ID   |
  | `event`                | `String`  | `motionchange`, `geofence`, `heartbeat`, `providerchange` |
  | `odometer`             | `Float`   | Meters      |
  | `activity.type`        | `String`  | `still`, `on_foot`, `running`, `on_bicycle`, `in_vehicle`, `unknown` |
  | `activity.confidence`  | `Integer` | 0–100%      |
  | `battery.level`        | `Float`   | 0–100%      |
  | `battery.is_charging`  | `Boolean` | Is device plugged in? |
  | `mock`                 | `Boolean` | True if generated by mock provider |
  | `is_moving`            | `Boolean` | Device was moving when recorded |
  | `timestampMeta`        | `Object`  | Timestamp metadata; see {@link GeoConfig.enableTimestampMeta} |

  __ℹ️ See also__
  - {@link HttpEvent | HTTP Guide}
  - {@link geofenceTemplate}
  - {@link HttpConfig.rootProperty}
examples:
  example-1:
    title: Example 1
    code:
      ts: |-
        BackgroundGeolocation.ready({
          persistence: {
            locationTemplate:
              '{"lat":<%= latitude %>,"lng":<%= longitude %>,"event":"<%= event %>",isMoving:<%= is_moving %>}'
          }
        });

        // Or use a compact Array template:
        BackgroundGeolocation.ready({
          persistence: {
            locationTemplate:
              '[<%=latitude%>, <%=longitude%>, "<%=event%>", <%=is_moving%>]'
          }
        });
  example-2:
    title: but is rendered unquoted
    code:
      ts: |-
        BackgroundGeolocation.ready({
          persistence: {
            locationTemplate: '{"timestamp": <%= timestamp %>}'
          }
        });
  example-3:
    title: Correct usage
    code:
      ts: |-
        BackgroundGeolocation.ready({
         persistence: {
          locationTemplate: '{"timestamp": "<%= timestamp %>"}'
         }
        });
  example-4:
    title: Example 4
    code:
      ts: |-
        BackgroundGeolocation.ready({
          http: {
            url: 'https://my.server.com/locations',
            rootProperty: 'data',
          },
          persistence: {
            locationTemplate: '{"lat":<%= latitude %>,"lng":<%= longitude %>}',
            extras: { foo: "bar" }
          }
        });
